<h1>フォロワー一覧</h1>
<% if @users.exists? %>
  <tbody>
    <% @users.each do |user|%>
      <th><%= user.name %></th>
      <th><%= link_to 'ユーザー詳細画面', user_path(user.id) %></th>
    <% end %>
  </tbody>
<% else %>
  <p>フォロワーはいません</p>
<% end %>
<%= link_to '戻る', :back %>
