<h1>フォロー一覧</h1>
  <% if @users.exists? %>
    <tbody>
      <% @users.each do |user|%>
        <th><%= user.name %></th>
        <th><%= link_to 'ユーザー詳細画面', user_path(user.id) %></th>
      <% end %>
    </tbody>
  <% else %>
    <p>フォローしている人はいません</p>
  <% end %>

  <%= link_to '戻る', :back %>