<div class="homebody">
<h1>サイト概要</h1>
<p>このアプリは0～6歳の子供を育てている人をターゲットにした、twitterのような感じで個人で情報を上げれるサイトです。 今まで子育てをしてきた人や現在進行形で子育てをしている人が様々な価値観や思ったことを好きに書き込めます。 書き込んでもらうことで、「この年齢の時にこんなグッズが役に立った」、「こんな風に声掛けをしてみたら子どもがすんなり聞いてくれた」、などの情報を知ることができます。 そうすることで一人でも多くの子育てに不安を抱えている人の悩みを解決できるといった成果を見込んでいます。</P><br/>
<P>子育てに不安を抱えている人や、新しく生まれてくる赤ちゃんに何が必要かわからない時に利用してもらいたいです。い</P><br/>
<P>このサイトを使用する上での注意事項（誹謗中傷ダメ！）</P><br/>
</div>