<div class="homebody">
    <h1>～サイト概要～</h1>
    <p>このアプリは0～6歳の子供を育てている人をターゲットにした、twitterのような感じで個人で情報を上げれるサイトです。<br/>
        今まで子育てをしてきた人や現在進行形で子育てをしている人が様々な価値観や思ったことを好きに書き込めます。 <br/>
        書き込んでもらうことで、「この年齢の時にこんなグッズが役に立った」、「こんな風に声掛けをしてみたら子どもがすんなり聞いてくれた」、<br/>
        などの情報を知ることができます。 <br/>
        そうすることで一人でも多くの子育てに不安を抱えている人の手助けになったらいいな、と考えこのサイトを作成しました。<br/>
    </P><br/>
    <p>
        ～このサイトを利用される方へ～
    </p><br/>
    <P>
        子育てに不安を抱えている人や、新しく生まれてくる赤ちゃんに何が必要かわからない時に利用してもらいたいです。
    </P><br/>
    <h3>～注意事項～</h3>
    <P>
        誹謗中傷するようなコメントは書かないでください。
    </P><br/>
</div>