<h1>parentingへようこそ！</h1>
<p>
  このサイトへはまず新規登録/ログインをしてからお進みください！<br/>
  登録費は無料となっております。
</p>


<li>
  <%= link_to "新規登録", new_user_registration_path %>
</li>
<li>
  <%= link_to "ログイン", new_user_session_path %>
</li>