<h1 class="text-center">parentingへようこそ！</h1>
  <div id="container">
    <div id="theTarget">
      <div class="test1"></div>
      <div class="test2"></div>
      <div class="test3"></div>
      <div class="test4"></div>
      <div class="test5"></div>
    </div>
  </div>
<p class="text-center">
  このサイトは,新規登録/ログインを行ってからお進みください！<br/>
  登録費は無料となっております。
</p>

<ul class="text-center">
  <li>
    <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
  </li>
  <li>
    <%= link_to "ログイン", new_user_session_path, class: 'btn btn-primary btn-lg' %>
  </li>
  <li>
    <%= link_to "お問い合わせ", contacts_new_path, class: 'btn btn-primary btn-lg' %>
  </li>
</ul>