<!--検索結果表示-->
<% if @model == 'user' %>
  <h3>【Usersモデルの検索結果】検索ワード：<%= @content %></h3>
  <%= render 'users/index', users: @records %>
<% else @model == 'post' %>
  <h3>【Postsモデルの検索結果】検索ワード：<%= @content %></h3>
  <%= render 'posts/index', posts: @records %>
<% end %>